/* HOMEPAGE */


/* hides 'categories' filter */
#ember32 {
	visibility: hidden;
}

/* hides 'categories' filter */
#ember84 {
	visibility: hidden;
}

/* hides 'new topic' button */
#create-topic {
	visibility: hidden;
}

/* hides 'topic' button label - NOT SURE IF NEEDED */
.d-button-label {
	visibility: hidden;
}

/* hides time since post in latest reply column */
.relative-date {
	visibility: hidden;
}

/* removes search icon */
.btn {
	display: none;
}

/* removes search icon new */
#search-button {
	visibility: hidden;
}

.icon.btn.no-text.btn-primary {
	visibility: hidden;
}

.link-bottom-line {
	visibility: hidden;
}

/* removes author text beneath post title */
.topic-list .link-bottom-line .byline, .topic-list .discourse-tags {
	visibility: hidden;
}

/* removes 'views' column */
.activity.sortable.num {
	display: none;
}

/* removes 'views' numbers */
.topic-list .num {
	visibility: hidden;
}

/* removes 'latest reply' column */
.activity.sortable.num {
	display: none;
}

/* removes 'replies' column */
.posts.sortable.num {
	display: none;
}

/* removes 'category' dropdown filter */
.category-breadcrumb.ember-view {
	display: none;
}

/* removes category name from beneath post title */
.category-name {
	visibility: hidden;
}


/* ANNOUNCEMENTS */

/* removes suggested topics section at bottom of page */
.suggested-topics{
	display: none;
}

/* removes topic post stats */
.topic-map{
	display: none;
}


/* hides post interaction options */
.post-menu-area {
	visibility: hidden;
}





